*,
::before,
::after {
  box-sizing: border-box;
  margin:0;
  padding: 0;
}  

body {
    background: #000;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    position: relative;
    overflow: hidden; /* This will remove the scrollbar */
}

.circle-btn {
    outline:none;
    border: none;
    background: none;
    position: relative;
    cursor: pointer;
    transition: transform 0.4s ease;
}

.circle-btn:hover {
    transform: scale(1.2);
}
.circle-btn:active {
    transform: scale(1.5);
}
.circle-btn span {
    position: absolute;
    top: 45%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 30px;
    will-change: transform;
}
/* svg{
    transform: rotate(-90deg);
} */

.bg-svg{
stroke: #b8b8b834;
stroke-width: 3;    
}

.filled{
stroke: #fff;
stroke-width:3;
stroke-dasharray: 1;
stroke-dashoffset: 1;
transition: stroke-dashoffset 0.4s ease-in-out;
}

.circle-btn:hover .filled{
stroke-dashoffset: 0;
}
@keyframes lightning {
    0% {
      fill: rgb(6.266785%, 5.734253%, 5.047607%); /* Couleur initiale (éteinte) */
    }
    10% {
      fill: rgb(100%, 100%, 0%); /* Éclair jaune vif */
    }
    15% {
      fill: rgb(6.266785%, 5.734253%, 5.047607%); /* Retour à la couleur initiale */
    }
    25% {
      fill: rgb(100%, 100%, 0%); /* Éclair jaune vif */
    }
    40% {
      fill: rgb(6.266785%, 5.734253%, 5.047607%); /* Éteint */
    }
    55% {
      fill: rgb(100%, 100%, 0%); /* Éclair jaune vif */
    }
    70% {
      fill: rgb(6.266785%, 5.734253%, 5.047607%); /* Éteint */
    }
    100% {
      fill: rgb(6.266785%, 5.734253%, 5.047607%); /* Couleur initiale */
    }
  }
  
  .eye {
    animation: lightning 3s infinite; /* Animation aléatoire sur 3 secondes */
  }
  .animated {
   
    animation: levitation 3s ease-in-out infinite ;
  }
  
  @keyframes evaporation {
    0% {
      opacity: 1;
      transform: translateY(0);
    }
    100% {
      opacity: 0;
      transform: translateY(-50px);
    }
  }

  @keyframes levitation {
    0% {
      transform: translateY(0);
      opacity: 1;
    }
    50% {
      transform: translateY(-30px);
      opacity: 1;
    }
    100% {
      transform: translateY(0);
      opacity: 1;
    }
  }
  .arm {
    
    transform-origin: center; /* Le point de rotation est en haut, au centre de l'élément */
    animation: rotateArm 2s forwards infinite;
  }
  
  @keyframes rotateArm {
    0% {
      transform: rotate(0deg); /* Position initiale */
    }
    50% {
        transform:  rotate(5deg); /* Rotation de 45 degrés */
        /* Rotation de 45 degrés */
    }
    100% {
      transform: rotate(0deg); /* Retour à la position initiale */
    }
  }

  .cape{
    transform-origin:  center; /* Point de rotation en haut, centré */
    animation: cape 5s ease-in-out infinite;
  }

  @keyframes cape {
    0% {
      transform: rotate(0deg); /* Position initiale */
    }
    10% {
      transform: rotate(2deg); /* Légère rotation dans le sens horaire */
    }
    20% {
      transform: rotate(-3deg); /* Rotation dans l'autre sens */
    }
    40% {
      transform: rotate(1deg); /* Retour léger dans le sens horaire */
    }
    50% {
      transform: rotate(-2deg); /* Rotation aléatoire */
    }
    70% {
      transform: rotate(4deg); /* Un peu plus de mouvement */
    }
    80% {
      transform: rotate(-2deg); /* Retour encore plus fluide */
    }
    100% {
      transform: rotate(0deg); /* Retour à la position initiale */
    }
  }
  /* #left-eye { */
    /* animation: blink 1.5s 1s,lightning 3s infinite; */
    
    /* Animation infinie */
    /* transform-origin: center; Le point de transformation est au centre */
    /* display: inline-block;  */
    /* will-change: transform; */
  /* } */
  
  @keyframes blink {
    0% {
        transform: scaleY(1); /* L'œil est ouvert */
      }
      50% {
        transform: scaleY(0); /* L'œil se ferme */
      }
      100% {
        transform: scaleY(1); /* L'œil se réouvre */
      }
  }
  canvas {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    pointer-events: none;
    z-index: -1;}

    svg:nth-child(1) {
        position: absolute;
        top: calc(50% + -10px); /* Déplace l'élément de 10 pixels vers le bas */
        left: 50%;
        transform: translate(-50%, -50%);
    }

    .fire {
      position: absolute;
        top: 150px;
      width: 50%;
      mix-blend-mode: screen;
      animation: fire 2s ease infinite;
    /* animation-timing-function: cubic-bezier(0.25, 0.8, 0.25, 1); */
      z-index: -1;
    }
    @keyframes fire {
        0% {
          transform: scale(1);
          opacity: 0.6;
        }
        15% {
          transform: scale(1.01);
          opacity: 0.65;
        }
        30% {
          transform: scale(1.02);
          opacity: 0.6;
        }
        45% {
          transform: scale(1.04);
          opacity: 0.63;
        }
        60% {
          transform: scale(1.06);
          opacity: 0.55;
        }
        75% {
          transform: scale(1.04);
          opacity: 0.6;
        }
        90% {
          transform: scale(1.02);
          opacity: 0.55;
        }
        100% {
          transform: scale(1);
          opacity: 0.6;
        }
      }
     
      .spark {
        position: absolute;
        top: -120px;  /* distance depuis le haut de la page */
        left: 50px;  /* distance depuis la gauche de la page */
        z-index: 10;  /* assurez-vous que l'élément soit au-dessus des autres éléments */
        animation:  moveSpark 2s ease-in-out infinite;
        filter: blur(2px);
        z-index: 10; 
         /* effet miroir */
      }
      .spark1 {
        position: absolute;
        top: -120px;  /* distance depuis le haut de la page */
        left: 140px;  /* distance depuis la gauche de la page */
        z-index: 10;  /* assurez-vous que l'élément soit au-dessus des autres éléments */
        animation:  moveSpark2 2s ease-in-out infinite;
        filter: blur(2px);
        z-index: 10; 
        transform: scaleX(-1); /* léger flou pour la traînée */
      }
       
  
  
      /* Animation de traînée */
    @keyframes sparkTrail {
        0% {
            opacity: 1;
            /* filter: blur(0.2px); */
            transform: scaleX(1);
        }
        100% {
            opacity: 0.8;
            /* filter: blur(0.2px);  effet de flou plus prononcé */
            transform: scaleX(1.2);  
        }
    }

    /* Animation du mouvement de l'étincelle */
    @keyframes moveSpark {
        0% {
            top: -120px;
        }
        100% {
            top: 50px;
            left: -10px;
        }
    }
    @keyframes moveSpark2 {
        0% {
            top: -120px;
        }
        100% {
            top: 50px;
            left: 160px;
        }
    }
  
  
      /* SVG color change */
      .spark svg path,.spark1 svg path, .spark2 svg path {
        fill: #FFD700;  /* couleur jaune de l'étincelle */
      }